WarningsAsErrors: true

HeaderFileExtensions: ['h','hpp']

Checks: -*,
  cppcoreguidelines-init-variables,
  cppcoreguidelines-avoid-non-const-global-variables,
  google-global-names-in-headers,
  misc-const-correctness,
  misc-include-cleaner,
  modernize-use-using,
  readability-avoid-const-params-in-decls,
  readability-non-const-parameter,
  readability-identifier-naming,
  readability-redundant-access-specifiers,
  readability-make-member-function-const,
  readability-magic-numbers,
CheckOptions:
  - key: misc-const-correctness.AnalyzeValues
    value: true
  - key: misc-const-correctness.AnalyzeReferences
    value: true
  - key: misc-const-correctness.AnalyzePointers
    value: true
  - key: misc-const-correctness.AnalyzeParameters
    value: true
  - key: misc-const-correctness.WarnPointersAsValues
    value: true
  - key: misc-const-correctness.WarnPointersAsPointers
    value: true
  - key: misc-const-correctness.TransformValues
    value: true
  - key: misc-const-correctness.TransformReferences
    value: true
  - key: misc-const-correctness.TransformPointersAsValues
    value: true
  - key: misc-const-correctness.TransformPointersAsPointers
    value: true

  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.ClassIgnoredRegexp
    value: '([a-z]+_)+t'
  - key: readability-identifier-naming.ClassMethodCase
    value: camelBack
  - key: readability-identifier-naming.FunctionCase
    value: camelBack
  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.StructIgnoredRegexp
    value: '([a-z]+_)+t'
  - key: readability-identifier-naming.TemplateParameterCase
    value: CamelCase
  - key: readability-identifier-naming.TemplateTemplateParameterCase
    value: CamelCase
  - key: readability-identifier-naming.TypeTemplateParameterCase
    value: CamelCase
  - key: readability-identifier-naming.ValueTemplateParameterCase
    value: CamelCase

  - key: readability-identifier-naming.LocalConstantIgnoredRegexp
    value: "[A-Z][A-Z0-9_]*"
  - key: readability-identifier-naming.GlobalConstantIgnoredRegexp
    value: "[A-Z][A-Z0-9_]*"
  - key: readability-identifier-naming.ConstexprVariableIgnoredRegexp
    value: "[A-Z][A-Z0-9_]*"
  - key: readability-identifier-naming.ClassConstantIgnoredRegexp
    value: "[A-Z][A-Z0-9_]*"

  - key: modernize-use-using.CheckFirstDeclaration
    value: true

  - key:  readability-magic-numbers.IgnoredIntegerValues
    value:  '0;1;2;3;4;10'

  - key: cppcoreguidelines-avoid-non-const-global-variables.AllowInternalLinkage
    value: true
